[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
rich = "*"
google-api-python-client = "*"
oauth2client = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
